/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFEEC0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: #FFDAB9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80vw;
    max-width: 80%; /* Max width to prevent stretching on larger screens */
    text-align: center;
}

.item {
    width: 80%;
    margin: 20px 0;
}

.inputGroup {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
    font-size: 2vw;
    color: #FF8C7A;
    margin: 5px 0;
}

input {
    padding: 1vw;
    border: 2px solid #FFA07A;
    border-radius: 5px;
    font-size: 1.5vw;
    width: 100%;
    margin: 5px;
}

button {
    padding: 1vw 1.5vw;
    background-color: #FF8C7A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    width: 30%;
    margin: 10px 0;
}

button:hover {
    background-color: #FFA07A;
}
